// Trick  #1 for sticky footer from https://css-tricks.com/couple-takes-sticky-footer/

html { 
    height: 100%;  
}

body {
    min-height:100%; 
    position:relative; 
    padding-bottom:400px
}

.footer {
	color: #EDECEC;               // Color settings, don't matter for stickyness
	background-color: #363636;	  // Color settings, don't matter for stickyness	
	position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:400px;
}

// The end of the trick


.header {
	background-color: #eee;
}

.dash {
    text-decoration: none; /* Убираем подчеркивание */
    border-bottom: 1px dashed; /* Добавляем свою линию */ 
}

.dash:hover {
    text-decoration: none; /* Убираем подчеркивание */
   }
   
img {
	padding: 3px; /* Ширина паспарту */
    background: #ddd;
	/*border: 1px solid #777;*/
	border-radius: 5px;	
}

h1  {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h5 {
    font-size: 36px;
}

h6 {
    font-size: 14px;
}