.footer {
	color: #EDECEC;
	background-color: #363636;
}

.header {
	background-color: #eee;
}

.dash {
    text-decoration: none; /* Убираем подчеркивание */
    border-bottom: 1px dashed; /* Добавляем свою линию */ 
}

.dash:hover {
    text-decoration: none; /* Убираем подчеркивание */
   }
   
img {
	padding: 3px; /* Ширина паспарту */
    background: #ddd;
	/*border: 1px solid #777;*/
	border-radius: 5px;	
}

h1  {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h5 {
    font-size: 36px;
}

h6 {
    font-size: 14px;
}

