@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);


/* Trick  #1 for sticky footer from https://css-tricks.com/couple-takes-sticky-footer/ */

html { 
    height: 100%;  
    font-size: inherit;
}



body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.6;    
    min-height:100%; 
    position:relative; 
    padding-bottom:400px;   
    color: rgb(118, 118, 118);
}

.footer {
	color: #EDECEC;              /* // Color settings, don't matter for stickyness*/
	background-color: #363636;	 /* // Color settings, don't matter for stickyness	*/
	position: absolute; 
    left: 0; right: 0; bottom: 0; 
    height: 130px;
	text-align: center;
}

/* The end of the trick*/


.header {
	background-color: #333;
    background-image: url(../light-tornado.jpg);
	position: relative;
}

 .header .logo a {
    display: block; /* Ссылка как блочный элемент */
    /*height: 100%; /* Высота на весь слой */
    color: #333; /* Цвет ссылки */
	text-align: center;
 }
 
 .header .logo a:hover {
    /*color: black; /* Цвет ссылки */
	text-decoration: none;
 }
 
 /*
 .header:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
    z-index: 1;
}*/

.dash {
    text-decoration: none; /* Убираем подчеркивание */
    border-bottom: 1px dashed; /* Добавляем свою линию */ 
}

.dash:hover {
    text-decoration: none; /* Убираем подчеркивание */
   }
   
img {
	padding: 3px; /* Ширина паспарту */
    background: #ddd;
	/*border: 1px solid #777;*/
	border-radius: 5px;	
}

h1  {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(35, 35, 35);
    padding-bottom: 1rem;
    margin-top: 0;
    margin-bottom: .5rem;
}

h2 {
    font-size: 1.2rem;
    color: rgb(35, 35, 35);
}

h5 {
    font-size: 36px;
}

h6 {
    font-size: 14px;
}

.dcmt-title {
    font-family: 'Rubik', sans-serif;
    font-size: 4.25rem;
    font-weight: 700;
    color: #ffffff;
}

.dcmt-subtitle {    
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 300;    
    color: #ffffff;
}

.dcmt-text {    
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.6;
}

.dcmt-menu-text {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff!important;
}

a.dcmt-menu-text:hover {
    color: rgb(179, 179, 179)!important; 
}

ul.dropdown-menu {
	background-color: rgb(35, 35, 35);
}

.dropdown-menu > li > a {
	color: rgb(255, 255, 255);
	font-weight:500;
}

.dropdown-menu > li > a:hover {
	text-decoration: none;	
    color: rgb(179, 179, 179)!important; 	
	background-color: transparent;
}
    
.dcmt-overlay {
    bottom: 0;
    left: 0;
    opacity: .35;
    position: absolute;
    right: 0;
    top: 0;
	/*height: 100%;*/
    z-index: 0;
	background-color: rgb(35, 35, 35);
}

nav {
    font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
}

nav li {
  display: inline-block;
}

nav a {
	display: block;
    height: 100%;
    margin-top: 8px;
	padding: 21px 0 20px 40px;
	font-size: 1rem;
	line-height: normal;
	letter-spacing: normal;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff  
}

 nav a:hover {
    text-decoration: none;
 }
 
 .nav > li > a > img {
	position:relative; 
	top: -1px; 
	right: -15px;
 }
 
 
 
.navbar-inverse .navbar-nav >
    color: #ffffff;
}
 
.dropdown:hover > .dropdown-menu { 
    display: block; 
}

li.dropdown:hover > .dropdown-menu {
	display: block; 
}

ul.dropdown-menu {
    background-color: rgb(51, 51, 51); 
} 

.navbar {
    background-color: transparent;
    border: transparent;
}

.navbar-inverse {
    background-color: transparent;    
}

.navbar-nav > li > .dcmt-menu-item { 
    background-color: rgb(51, 51, 51); 
    line-height: 1.6;
    padding: 3px 24px 3px 24 px;
    color: #ffffff;
}

img.lang-selector {
    /*margin-bottom: 3px;*/
}

blockquote {
    font-style: italic;
    padding: 10px 0 10px 20px;
    font-size: 1.09rem;
    position: relative;
    border-color: #149dcc;
    border-width: 3px;
    margin-top: 2rem;
    margin-bottom: 2.3125rem;
}

.col-md-8 {
	padding-right: 35px;
	padding-left: 35px;
}