{% extends 'base.html' %}

{% block title %}
404 - кажется, вы попали не туда
{% endblock %}

{% block breadcrumbs %}
<p><a href='/'>На главную</a></p>           
{% endblock %}

{% block content %}
<h1>Кажется, вы&nbsp;попали не&nbsp;туда? ;)</h1>
<br><br><br><br>

<font size="60" color="silver" face="Arial"> 404 </font> 

<p>Страница, на&nbsp;которую вы&nbsp;хотели попасть, отсутствует на&nbsp;сайте. Чтобы перейти на&nbsp;главную страницу сайта, нажмите <a href='/'> вот сюда</a>. </p>


{% endblock %}


