<!DOCTYPE html>
<html lang='ru'>
  <head>
{% load staticfiles %}
    <title>{% block title %}Отдел вычислительных методов и турбулентности ИАП РАН{% endblock %}</title>  
{% block webmaster_verification %} {% endblock %}   
    <meta name="description" content="{% block meta_description %}Численное моделирование задач механики сплошной среды с помощью современных методов и технологий. 
    Фундаментальные и прикладные исследования.{% endblock %}" />
    <meta charset="utf-8">
   	<link href="{% static 'css/bootstrap.min.css'%}" rel = 'stylesheet'/>
	<link href="{% static 'css/main.css'%}" rel = 'stylesheet'/>
	<link href="{% static 'ico/favicon.ico'%}" rel="icon" type="image/png"/>
  </head>
  
  <body>      
	<div class='header'> 
	  <div class='container'>
	    <div class='row'>
		  <div class = 'col-md-offset-3 col-md-6'>
            <nav class="navbar navbar-default navbar-transparent navbar-static-top pull-right">
              <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbar-main">
                  <ul class = "nav navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle dcmt-menu-text" data-toggle="dropdown" role= "navigation" aria-haspopup="true" aria-expanded="true" >О НАС <b class="caret"></b> </a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item">
						  <a class="dcmt-menu-item" href="/research">Направления исследований</a>
                          <a class="dropdown-item" href="/conferences">Конференции</a>
                          <a class="dropdown-item" href="/grants">Гранты</a>
                          <a class="dropdown-item" href="/publications">Публикации</a>
						</li>  
                      </ul>
                    </li>
                    <li><a href="/people" class="dcmt-menu-text">СОТРУДНИКИ</a></li>
                    <li><a href="/contacts" class="dcmt-menu-text">КОНТАКТЫ</a></li>
                    <li><a href="/en/" title="English version"><img class = 'lang-selector' src="{% static 'ico/british-flag.ico' %}" width="20" height = "20" alt="En"></a></li>
                  </ul>
                </div>        
              </div>        
            </nav>   		              
		  </div>
		  <div class = 'col-md-3'></div>
		</div>
	    <div class='clearfix'></div>		
	  </div>
   <!---   <div class='dcmt-overlay' style='opacity:0.6; background-color: rgb(35, 35, 35);'></div>   --->
	  <div class="logo">
	    <a href = '/'> 	      
    	  <div class='container'>				
            <br>
    	    <h5 class="dcmt-title">ОВМиТ</h5>   	
			<div class='clearfix'></div>	
	      </div>	  
		  <div class='container'>
		    <p class="dcmt-subtitle">Отдел вычислительных методов и турбулентности ИАП РАН </p>		    
            <br> <br> 
			<div class='clearfix'></div>
	      </div>          	
        </a>
      </div>
	  <div class='clearfix'></div>		
    </div>
	
	<!-- Breadcrumbs-->
	<div class='container'>
	  <div class='row'>
	    <div class='col-12 col-md-8'>
		  <small>
		    <br>
		  
{% block breadcrumbs %}		  
{% endblock %}		
            <br>
          </small>
		</div>
		<div class='clearfix'></div>
	  </div>
	</div>	

	
	<div class='container'>
	  <div class='row'>
		<div class='col-offset-2 col-8 col-md-8' style='max-width: 600px;'>
		
{% block content %}
{% endblock %}
        </div>
	  </div> 
  	  <div class='clearfix'></div>
	</div>
    
	<div class='footer'>
	  <div class='container'>
	    <div class='row'>
	      <div class='col-md-offset-3 col-md-4'><h6><br><br><br><br><br><br>&copy; Copyright 2016-{% now 'Y' %} ОВМиТ ИАП РАН</h6></div>
		  <div class='col-md-5'><h6><a href='/contacts'>Контактная информация</a></h6></div>
		</div>
		<div class='clearfix'></div>
	  </div>
	</div>    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        ym(54222799, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/54222799" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30346246-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-30346246-3');
    </script>
  </body>
  </html>
  