{% extends 'base_en.html' %}
{% block title %}Conferences - DCMT of ICAD RAS{% endblock %}
{% block meta_description %}Conferences with the participation of Department people.{% endblock %}

{% block breadcrumbs %}
<p><a href='/en/'>Home</a> -> <a href='/en/conferences'>Conferences</a></p>       
{% endblock %}
		
{% block content%}
<h1>CONFERENCES</h1>
<h2>2019</h2>
<ul> 
<li>XXXIV International Conference on&nbsp;Interaction of&nbsp;Intense Energy Fluxes with Matter, March 01&ndash;06, 2019, Elbrus, Kabardino-Balkaria, Russia.</li> 
<li>IVth All-Russian Scientific Conference &laquo;Thermophysics and Physical Hydrodynamics&raquo; with the school for young scientists,
Yalta, Republic of&nbsp;Crimea, 15-22 September 2019.</li>
</ul>

<h2>2018</h2>
<ul> 
<li>XXXIII International Conference on&nbsp;Equations of&nbsp;State for Matter March 01&ndash;06, 2018, Elbrus, Kabardino-Balkaria, Russia.</li>
<li>IIIrd All-Russian Scientific Conference &laquo;Thermophysics and Physical Hydrodynamics&raquo; with the school for young scientists, 
Yalta, Republic of&nbsp;Crimea, 10-16 September 2018. </li>
</ul>

<h2>2017</h2>
<ul> 
<li>XXXII International Conference on&nbsp;Interaction of&nbsp;Intense Energy Fluxes with Matter, March 01-06, 2017, Elbrus, Kabardino-Balkaria, Russia.</li>
<li>IInd All-Russian Scientific Conference &laquo;Thermophysics and Physical Hydrodynamics&raquo; with the school for young scientists, 
Yalta, Republic of&nbsp;Crimea, 11-17 September 2017. </li>
</ul>

{% endblock %}