{% extends 'base_en.html' %}

{% block title %}
Conferences - DCMT of ICAD RAS
{% endblock %}

{% block meta_description %}
Conferences with the participation of Department people.
{% endblock %}

{% block breadcrumbs %}
<p><a href='/en/'>Home</a> -> <a href='/en/conferences'>Conferences</a></p>       
{% endblock %}
		
{% block content%}
<h1>Conferences</h1>
<h2>2019</h2>
<ul> 
  <li>XXXIV International Conference on Interaction of Intense Energy Fluxes with Matter, March 01–06, 2019, Elbrus, Kabardino-Balkaria, Russia.</li>  
  <li>IVth All-Russian Scientific Conference "Thermophysics and Physical Hydrodynamics" with the school for young scientists,
  Yalta, Republic of Crimea, 15-22 September 2019.</li>
</ul>

<h2>2018</h2>
<ul> 
  <li>XXXIII International Conference on Equations of State for Matter March 01–06, 2018, Elbrus, Kabardino-Balkaria, Russia.</li>
  <li>IIIrd All-Russian Scientific Conference "Thermophysics and Physical Hydrodynamics" with the school for young scientists, 
  Yalta, Republic of Crimea, 10-16 September 2018. </li>
</ul>

<h2>2017</h2>
<ul> 
  <li>XXXII International Conference on Interaction of Intense Energy Fluxes with Matter, March 01-06, 2017, Elbrus, Kabardino-Balkaria, Russia.</li>
  <li>IInd All-Russian Scientific Conference "Thermophysics and Physical Hydrodynamics" with the school for young scientists, 
  Yalta, Republic of Crimea, 11-17 September 2017. </li>
</ul>

{% endblock %}