{% extends 'base.html' %}

{% block title %} Конференции - ОВМиТ ИАП РАН {% endblock %}

{% block meta-description %} Конференции с участием сотрудников отдела. {% endblock %}

{% block breadcrumbs %}
<p><a href='/'>Главная</a> -> <a href='/conferences'>Конференции</a></p>       
{% endblock %}
		
{% block content%}
<h1>КОНФЕРЕНЦИИ</h1>
<h2>2019</h2>
<ul> 
<li>XXXIV Международная конференция &laquo;Взаимодействие интенсивных 
энергетических потоков с&nbsp;веществом&raquo;, Эльбрус, Республика 
Кабардино-Балкария, 01-06 марта 2019&nbsp;г.</li> 
<li> IV&nbsp;Всероссийская научная конференция &laquo;Теплофизика и&nbsp;физическая гидродинамика&raquo; с&nbsp;элементами школы молодых ученых,
Ялта, Республика Крым, 15-22 сентября 2019&nbsp;г. </li>
</ul>

<h2>2018</h2>
<ul> 
<li>XXXIII Международная конференция &laquo;Уравнения состояния вещества&raquo;, Эльбрус, Республика 
Кабардино-Балкария, 01-06 марта 2018&nbsp;г.</li>
<li> III Всероссийская научная конференция &laquo;Теплофизика и&nbsp;физическая гидродинамика&raquo; 
с&nbsp;элементами школы молодых ученых, Ялта, Республика Крым, 10-16 сентября 2018&nbsp;г.</li>
</ul>

<h2>2017</h2>
<ul> 
<li>XXXII Международная конференция &laquo;Взаимодействие интенсивных 
энергетических потоков с&nbsp;веществом&raquo;, Эльбрус, Республика 
Кабардино-Балкария, 01-06 марта 2017&nbsp;г.</li>
<li>II&nbsp;Всероссийская конференция &laquo;Теплофизика и&nbsp;физическая гидродинамика&raquo; 
с&nbsp;элементами школы молодых ученых, г. Ялта, Республика Крым, 11-16 сентября 
2017&nbsp;г.</li>
</ul>


{% endblock %}