{% extends 'base.html' %}

{% block breadcrumbs %}
<p><a href='/'>Главная</a> -> <a href='/conferences'>Конференции</a></p>       
{% endblock %}
		
{% block content%}
<h3>Конференции</h3>
<p><ul> 
  <li>XXXII Международная конференция &laquo;Взаимодействие интенсивных 
  энергетических потоков с веществом&raquo;, Эльбрус, Республика 
  Кабардино-Балкария, 1-6 марта 2017 г.</li>
  <li>II Всероссийская конференция &laquo;Теплофизика и физическая гидродинамика&raquo; 
  с элементами школы молодых ученых, г. Ялта, Республика Крым, 11-16&nbsp;сентября 
  2017 г.</li>
</ul></p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}