{% extends 'base.html' %}

{% block title %}
Конференции - ОВМиТ ИАП РАН
{% endblock %}

{% block breadcrumbs %}
<p><a href='/'>Главная</a> -> <a href='/conferences'>Конференции</a></p>       
{% endblock %}
		
{% block content%}
<h1>Конференции</h1>
<h2>2019</h2>
<ul> 
  <li>XXXIV Международная конференция &laquo;Взаимодействие интенсивных 
  энергетических потоков с веществом&raquo;, Эльбрус, Республика 
  Кабардино-Балкария, 01-06 марта 2019 г.</li>  
  <li> IV Всероссийская научная конференция &laquo;Теплофизика и физическая гидродинамика&raquo; с элементами школы молодых ученых,
  Ялта, Республика Крым, 15-22 сентября 2019 г. </li>
</ul>

<h2>2018</h2>
<ul> 
  <li>XXXIII Международная конференция &laquo;Уравнения состояния вещества&raquo;, Эльбрус, Республика 
  Кабардино-Балкария, 01-06 марта 2018 г.</li>
  <li> III Всероссийская научная конференция "Теплофизика и физическая гидродинамика" 
  с элементами школы молодых ученых, Ялта, Республика Крым, 10-16 сентября 2018 г.</li>
</ul>

<h2>2017</h2>
<ul> 
  <li>XXXII Международная конференция &laquo;Взаимодействие интенсивных 
  энергетических потоков с веществом&raquo;, Эльбрус, Республика 
  Кабардино-Балкария, 01-06 марта 2017 г.</li>
  <li>II Всероссийская конференция &laquo;Теплофизика и физическая гидродинамика&raquo; 
  с элементами школы молодых ученых, г. Ялта, Республика Крым, 11-16&nbsp;сентября 
  2017 г.</li>
</ul>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}