{% extends 'base.html' %}

{% block title %}
Контакты - ОВМиТ ИАП РАН
{% endblock %}

{% block breadcrumbs %}
<p><a href='/'>Главная</a> -> <a href='/contacts'>Контакты</a></p>       
{% endblock %}
		
{% block content%}
<h1>Контакты</h1>
<p>Мы находимся здесь: 123056, Москва, 2-ая Брестcкая ул, д.19/18.</p>
<p>Тел.: +7(499)250-02-62</p>
<p>Факс: +7(499)250-89-28</p>
<p>fortova@icad.org.ru</p>
<p><a href="https://yandex.ru/maps/?um=constructor%3A37b62dfb65375512def8e7aa51d5a37b4cd293e4eb316f67a0ce13e3331165e5&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A37b62dfb65375512def8e7aa51d5a37b4cd293e4eb316f67a0ce13e3331165e5&amp;width=600&amp;height=450&amp;lang=ru_RU" alt="" style="border: 0;" /></a></p>
{% endblock %}


