{% extends 'base.html' %}

{% block title %}
С.В. Фортова - Сотрудники - ОВМиТ ИАП РАН
{% endblock %}

{% block breadcrumbs %}
<p><a href='/'>Главная</a> -> <a href='/scientists'>Сотрудники</a> -> <a href='/scientists/fortova'>С.В. Фортова</a></p>           
{% endblock %}


{% block content %}
<h3>Светлана Владимировна Фортова</h3>
<div class='row'>
  <div class='col-md-3'>
    <img src='https://scholar.google.ru/citations?view_op=view_photo&user=vY44PoYAAAAJ&citpid=5' alt='С.В. Фортова' width='100'></img>
  </div>
  <div class='col-md-9'>
     <br>
     <p>Должность: старший научный сотрудник</p>
	 <p>Ученая степень: к.ф.-м.н.</p>
	 <p>E-mail: fortova@icad.org.ru</p>
  </div>
  <div class='clearfix'></div>
</div>
<br>
<h4>Публикации</h4>
<ol>
  <li>Широкодиапазонные полуэмпирические уравнения состояния вещества для численного моделирования высокоэнергетических процессов,
  И. В. Ломоносов, С. В. Фортова, ТВТ, 55:4 (2017),  596–626. </li>	
  <li>Численное моделирование высокоскоростного столкновения металлических пластин, О. М. Белоцерковский, С. В. Фортова, 
  О. В. Трошкин, А. П. Пронина, И. В. Ериклинцев, С. А. Козлов, Матем. моделирование, 28:2 (2016),  19–30.</li>
  <li>Применение программного комплекса Turbo Problem Solver для решения некоторых задач газодинамики, М. С. Белоцерковская,
  А. П. Пронина, С. В. Фортова, В. В. Шепелев, Ж. вычисл. матем. и матем. физ., 56:6 (2016),  1185–1196.</li>
  <li>Численное моделирование рэлей-тейлоровской неустойчивости в невязкой и вязкой средах, А. Н. Долуденко, С. В. Фортова, 
  Ж. вычисл. матем. и матем. физ., 55:5 (2015),  876–885.</li>
  <li>Сравнительный анализ формирования вихревых каскадов в различных турбулентных задачах, С. В. Фортова, Ж. вычисл. матем. 
  и матем. физ., 55:2 (2015),  302–309.</li>
  <li>Вихревой каскад неустойчивостей и переход к турбулентности, С. В. Фортова, Ж. вычисл. матем. и матем. физ., 54:3 (2014), 
  536–544.</li>
  <li>Об установлении спутного вихря в потоке идеальной среды, О. М. Белоцерковский, М. С. Белоцерковская, В. В. Денисенко, 
  И. В. Ериклинцев, С. А. Козлов, Е. И. Опарина, О. В. Трошкин, С. В. Фортова, Ж. вычисл. матем. и матем. физ., 54:1 (2014),  
  164–169.</li>
  <li>Программный пакет для решения гиперболических систем уравнений, С. В. Фортова, Л. М. Крагинский, А. В. Чикиткин, Е. И. Опарина
  Матем. моделирование, 25:5 (2013),123–135.</li>  
</ol>
<br><br><br>
{% endblock %}


