{% extends 'base_en.html' %}

{% block title %}
Grants - DCMT of ICAD RAS
{% endblock %}

{% block breadcrumbs %}
<p><a href='/en/'>Home</a> -> <a href='/en/grants'>Grants</a></p>       
{% endblock %}
		
{% block content%}
<h1>Grants</h1>
<ul> 
  <li>RScF Grant #17-11-01293 &laquo; Fundamental Aspects of Mathematical Modeling on Supercomputers of the Impact of Intense Flows of Directed Energy on Materials&raquo;, <br>
      Supervisor: S.V. Fortova, Ph.D., Senior Researcher.</li>
  <li>RFBR Grant #17-01-00812 &laquo;Development of the Software Package Turbulence Problem Solver for Numerical Simulation of Continuum Mechanics Problem&raquo;, <br>
      Supervisor: S.V. Fortova, Ph.D., Senior Researcher.</li>
</ul>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}