{% extends 'base.html' %}

{% block title %}
Гранты - ОВМиТ ИАП РАН
{% endblock %}

{% block description %} 
<meta name="description" content="Гранты и проекты, в рамках которых проходят исследования." />
{% endblock %}


{% block breadcrumbs %}
<p><a href='/'>Главная</a> -> <a href='/grants'>Гранты</a></p>       
{% endblock %}
		
{% block content%}
<h1>Гранты</h1>
<p><ul> 
  <li>Грант РНФ №17-11-01293 &laquo;Фундаментальные аспекты математического моделирования 
      на суперкомпьютерах воздействия интенсивных потоков направленной энергии на материалы&raquo;, <br>
      руководитель: к.ф-м.н с.н.с С.В. Фортова.</li>
  <li>Грант РФФИ №17-01-00812 &laquo;Разработка программного комплекса Turbulence Problem Solver для численного
	  моделирования задач механики сплошных сред&raquo;, <br>
      руководитель: к.ф-м.н с.н.с С.В. Фортова.</li>
</ul></p>

{% endblock %}