{% extends 'base_en.html' %}

{% block breadcrumbs %}
<p><a href='/en/'>Home</a></p>        
{% endblock %}
		
{% block content%}		
<h1>About Us</h1>
<p> Department of computational methods and turbulence for more than ten years
has been continuing the work started by O. M. Belotserkovsky in the Institute. The Department 
successfully solves the current computational problems of continuum mechanics using the most recent 
techniques and technologies.</p>
<p>Head of the Department: Prof. O.V. Troshkin.</p>

<h2>ICAD RAS</h2>		  
<p> ICAD RAS is maintaining relationship with more than 20 Russian and foreign organizations, including 
which MSU, MIPT, MEPHI, TSAGI, Kurchatov Institute, Keldysh Institute of Applied Mathematics (IPM),
A.A. Dorodnitsyn Computational Centre (CC), RICCR, Center for Development of Advanced Computing Systems S-DAS (Pune, India), 
International Institute of Information Technologies (Pune, India), Nagoya University (Japan) and Abdus Salam International Centre for
Theoretical Physics in Trieste (Italy). Students and postgraduates of leading technical universities of Russia study at IAP RAS.  
Young professionals are involved to solve urgent problems of modern information technologies development. </p>
<p>A special role in the life of IAP RAS belongs to academician Oleg Belotserkovsky, who
was the Director of the Institute from the moment of its establishment till 2009. His research interests included
mathematical modeling of problems of hydrophysics, turbulence, multidimensional problems of plasma physics
(in relation to the problem of laser thermonuclear fusion), problems of mechanics of deformable solid
bodies, mathematical modeling of various medical and biological processes, development of common approaches
to solve the problem of scaling numerical methods to the architecture of high-performance computers (supercomputers).
O. M. Belotserkovsky created a large school in the field of computational mechanics. He is the author of more than 340 scientific
works, including a number of fundamental monographs, which set out new computational models
and the results of solving various nonlinear problems of continuum mechanics and plasma physics obtained,
based on mathematical modeling and computational experiments.</p>
	  	      	
<h2>Contact Information</h2>
<p>123056, Moscow, 2nd Brestskaya St., 19/18<br>
Phone: +7(499)250-02-62<br>
Fax: +7(499)250-89-28<br>
e-mail: fortova@icad.org.ru</p>	    
{% endblock %}			

    
