{% extends 'base.html' %}

{% block webmaster_verification %}
    <meta name="yandex-verification" content="dcfcd7bcf04570d3" />
{% endblock %}

{% block breadcrumbs %}
<p><a href='/'>Главная</a></p>        
{% endblock %}
		
{% block content%}		
<h1>О&nbsp;НАС</h1>
<p> Отдел вычислительных методов и&nbsp;турбулентности в&nbsp;течение уже более десяти лет 
продолжает работу, начатую в&nbsp;стенах института О.М. Белоцерковским. Отдел успешно решает актуальные 
вычислительные задачи механики сплошной среды, используя новейшие методы и&nbsp;технологии.</p>
<p>Руководитель отдела: д.ф-м.н, проф. О.В. Трошкин.</p>

<h2>ИАП РАН</h2>		 
<p> ИАП РАН поддерживает связи более чем с&nbsp;20&nbsp;российскими и&nbsp;зарубежными организациями, среди 
которых МГУ им.М.В.Ломоносова, МФТИ, МИФИ, ЦАГИ, НЦ&nbsp;&laquo;Курчатовский институт&raquo;, ИПМ им. М.В. Келдыша,
ВЦ&nbsp;им. А.А.Дородницына, РИЦКИ, Центр разработки перспективных вычислительных систем С-ДАС (Пуна, Индия), 
Международный институт информационных технологий (Пуна, Индия), Нагойский университет (Япония) и&nbsp;Центр 
теоретической физики при ЮНЕСКО в&nbsp;г. Триесте (Италия). В&nbsp;ИАП РАН обучаются студенты и&nbsp;аспиранты 
ведущих технических вузов России, привлекаются молодые специалисты для решения актуальных задач 
развития информационных технологий. </p>
<p>Особая роль в&nbsp;истории ИАП РАН принадлежит академику РАН Олегу Михайловичу Белоцерковскому (1925-2015), который
был директором Института с&nbsp;момента его организации по&nbsp;2009&nbsp;год. Область его научных интересов включала
математическое моделирование проблем гидрофизики, турбулентности, многомерных задач физики плазмы 
(применительно к&nbsp;проблеме лазерного термоядерного синтеза), задач механики деформируемого твердого 
тела, математическое моделирование различных медико-биологических процессов, разработку общих подходов
к&nbsp;решению проблемы отображения численных методов на&nbsp;архитектуру высокопроизводительных ЭВМ (супер-ЭВМ).
О.М.Белоцерковским создана крупная школа в&nbsp;области вычислительной механики. Он&nbsp;автор более 340 научных
работ, в&nbsp;том числе ряда фундаментальных монографий, в&nbsp;которых изложены новые вычислительные модели 
и&nbsp;результаты решения разнообразных нелинейных задач механики сплошных сред и&nbsp;физики плазмы, полученные
на&nbsp;основе математического моделирования и&nbsp;вычислительных экспериментов.</p>
	 	 	
<h2>Контактная информация</h2>
<p>123056, Москва, 2-ая Брестcкая&nbsp;ул, д.19/18<br>
Тел.: +7(499)250-02-62<br>
факс: +7(499)250-89-28<br>
e-mail: fortova@icad.org.ru</p>   
{% endblock %}			

    
