<!DOCTYPE html>
<html lang='ru'>
  <head>
    <title>ICAD RAS Department of Computational Methods and Turbulence</title>
    <meta charset="utf-8">
    <link href='css/main.css' rel = 'stylesheet'/>
  </head>
  <body>
    <p>ИАП РАН </p>
    <h1>Отдел вычислительных методов и турбулентности</h1>
	<h3><a href='/'>Направления исследований</a></h3>
	<h3><a href='/'>Публикации</a></h3>
	<h3><a href='/'>Сотрудники</a></h3>
	  <ul>
	    {% for p in people %}
	      <li><a href='/'>{{ p }}</a></li>
	    {% endfor %}
	  </ul>
	<h3><a href='/'>Конференции</a></h3>
	<h3><a href='/'>Гранты</a></h3>
	<h3><a href='/'>Контакты</a></h3>
	<h2><a href='/'>О нас</a></h2>
	<p>Отдел вычислительных методов и турбулентности ИАП РАН в течение уже более десяти лет 
	продолжает работу, начатую в стенах О.М. Белоцерковским. Отдел успешно решает актуальные 
	вычислительные задачи механики жидкости, используя новейшие методы и технологии.</p>
	<p>Руководитель отдела: д.ф-м.н, профессор О.В. Трошкин.	
	<h2>Контактная информация</h2>
	Здесь указываем новый адрес и телефон отдела.
  </body>
