{% extends 'base_en.html' %}

{% block breadcrumbs %}
<p><a href='/'>Главная</a></p>        
{% endblock %}
		
{% block content%}		
<h3>О нас</h3>
<p>Отдел вычислительных методов и турбулентности в течение уже более десяти лет 
продолжает работу, начатую в стенах института О.М. Белоцерковским. Отдел успешно решает актуальные 
вычислительные задачи механики сплошной среды, используя новейшие методы и технологии.</p>
<p>Руководитель отдела: д.ф-м.н, проф. О.В. Трошкин.</p>

<h4>ИАП РАН</h4>		  
<p> ИАП РАН поддерживает связи более чем с 20 российскими и зарубежными организациями, среди 
которых МГУ им.М.В.Ломоносова, МФТИ, МИФИ, ЦАГИ, НЦ «Курчатовский институт», ИПМ им. М.В. Келдыша,
ВЦ им. А.А.Дородницына, РИЦКИ, Центр разработки перспективных вычислительных систем С-ДАС (Пуна, Индия), 
Международный институт информационных технологий (Пуна, Индия), Нагойский университет (Япония) и Центр 
теоретической физики при ЮНЕСКО в г. Триесте (Италия). В ИАП РАН обучаются студенты и аспиранты 
ведущих технических вузов России, привлекаются молодые специалисты для решения актуальных задач 
развития информационных технологий. </p>
<p>Особая роль в жизни ИАП РАН принадлежит академику РАН Олегу Михайловичу Белоцерковскому, который
был директором Института с момента его организации по 2009 год. Область его научных интересов включает
математическое моделирование проблем гидрофизики, турбулентности, многомерных задач физики плазмы 
(применительно к проблеме лазерного термоядерного синтеза), задач механики деформируемого твердого 
тела, математическое моделирование различных медико-биологических процессов, разработку общих подходов
к решению проблемы отображения численных методов на архитектуру высокопроизводительных ЭВМ (супер-ЭВМ).
О.М.Белоцерковским создана крупная школа в области вычислительной механики. Он автор более 340 научных
работ, в том числе ряда фундаментальных монографий, в которых изложены новые вычислительные модели 
и результаты решения разнообразных нелинейных задач механики сплошных сред и физики плазмы, полученные
на основе математического моделирования и вычислительных экспериментов.</p>
	  	      	
<h4>Контактная информация</h4>
<p>123056, Москва, 2-ая Брестcкая ул, д.19/18</p>
<p>Тел.: +7(499)250-02-62<br>
факс: +7(499)250-89-28<br>
e-mail: fortova@icad.org.ru</p>	    
{% endblock %}			

    
