{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Публикации - ОВМиТ ИАП РАН
{% endblock %}

{% block breadcrumbs %}
<p><a href='/'>Главная</a> -> <a href='/publications'>Публикации</a></p>       
{% endblock %}
		
{% block content%}
<h1>Публикации отдела</h1>
  <ol>
  {% for paper in articles %}
    <li> {{ paper.authors }}, <i>{{ paper.title }}</i>, 
    {% if paper.abs_link %}
        <a href={{paper.abs_link}}>{{ paper.journal }}</a>. &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
    {% else %}    
        {{ paper.journal }}. &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
    {% endif %} 
    {% if paper.wos_link %}
        <a href={{paper.wos_link}}>WOS</a>
    {% endif %}
    {% if paper.scopus_link %}
        <a href={{paper.scopus_link}}>Scopus</a> 
    {% endif %}
    {% if paper.rinc_link %}
        <a href={{paper.rinc_link}}>РИНЦ</a>
    {% endif %}
    {% if paper.download_link %}
        <a href={{paper.download_link}}>PDF</a>           
    {% endif %}    
    </li>  
  {% endfor %}
  </ol>

<br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}