{% extends 'base.html' %}

{% block title %}
Публикации - ОВМиТ ИАП РАН
{% endblock %}

{% block breadcrumbs %}
<p><a href='/'>Главная</a> -> <a href='/publications'>Публикации</a></p>       
{% endblock %}
		
{% block content%}
<h3>Публикации отдела</h3>
{% if years %}
  <p><small>
  {% for year in years %}
  <a href='/publications'>{{year}}</a>&nbsp; 
  {% endfor %}
  </small></p>
{% endif %}
<p><small>
  {% if articles %} <a class='dash' href='#articles'>Статьи</a>&emsp; {% endif %}  
  {% if conf_procs %}  <a class='dash' href='#conf_procs'>Труды конференций</a>&emsp; {% endif %}  
  {% if monos %} <a class='dash' href='#monos'>Монографии</a>&emsp; {% endif %}  
  {% if preprints %} <a class='dash' href='#preprints'>Препринты</a>&emsp; {% endif %}  
  {% if other %} <a class='dash' href='#other'>Другое</a> {% endif %}  
</small></p>

{% if articles %}
  <h4><a name="articles"></a>Статьи</h4>
  <ol>
  {% for paper in articles %}
    <li>{{ paper.authors }}, {{ paper.journal }}, {{ paper.year }}, paper. </li>  
  {% endfor %}
  </ol>
{% endif %}  

{% if conf_procs %}
  <h4><a name="conf_procs"></a>Труды конференций</h4>
  <ol>
  {% for paper in conf_procs %}
    <li>{{ paper }}</li>  
  {% endfor %}
  </ol>
{% endif %}  

{% if monos %}
  <h4><a name="monos"></a>Монографии</h4>
  <ol>
  {% for paper in monos %}
    <li>{{ paper }}</li>  
  {% endfor %}
  </ol>
{% endif %}

{% if preprints %}
  <h4><a name="preprints"></a>Препринты</h4>
  <ol>
  {% for paper in preprints %}
    <li>{{ paper }}</li>  
  {% endfor %}
  </ol>
{% endif %}

{% if other %}
  <h4><a name="other"></a>Другое</h4>
  <ol>
  {% for paper in other %}
    <li>{{ paper }}</li>  
  {% endfor %}
  </ol>
{% endif %}
<br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}