{% extends 'base_en.html' %}
{% load staticfiles %}

{% block title %}
Publications - DCMT of ICAD RAS
{% endblock %}

{% block meta_description %} 
Publications of the Department staff. Articles, abstracts at conferences, monographs, preprints, courses.
{% endblock %}

{% block breadcrumbs %}
<p><a href='/en/'>Home</a> -> <a href='/en/publications'>Publications</a></p>       
{% endblock %}
		
{% block content%}
<h1>All publications</h1>
  <ol>
  {% for paper in papers %}
    <li> {{ paper.authors }}, <i>{{ paper.title }}</i>, 
    {% if paper.abs_link %}
        <a href={{paper.abs_link}} rel="nofollow" >{{ paper.journal }}</a>. 
    {% else %}    
        {{ paper.journal }}. 
    {% endif %} 
    <p>
    {% if paper.wos_link %}
        <a href={{paper.wos_link}} rel="nofollow" title="Web of Science link"><img src="{% static 'ico/wos.ico' %}" width="20" height = "20" alt="WOS"></a>
    {% endif %}
    {% if paper.scopus_link %}
        <a href={{paper.scopus_link}} rel="nofollow" title="Scopus link"><img src="{% static 'ico/scopus.ico' %}" width="20" height = "20" alt="Scopus"></a> 
    {% endif %}
    {% if paper.rinc_link %}
        <a href={{paper.rinc_link}} rel="nofollow" title="RSCI link"><img src="{% static 'ico/rsci.ico' %}" width="20" height = "20" alt="RSCI"></a>
    {% endif %}
    {% if paper.download_link %}
        <a href={{paper.download_link}} rel="nofollow" title="Download PDF full-text"><img src="{% static 'ico/pdf-icon.ico' %}" width="20" height = "20" alt="PDF"></a>           
    {% endif %}    
    </p>
    </li>  
  {% endfor %}  
  </ol>
 
{% endblock %}