{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Publications - DCMT of ICAD RAS
{% endblock %}

{% block breadcrumbs %}
<p><a href='/en/'>Home</a> -> <a href='/en/publications'>Publications</a></p>       
{% endblock %}
		
{% block content%}
<h1>All publications</h1>
  <ol>
  {% for paper in papers %}
    <li> {{ paper.authors }}, <i>{{ paper.title }}</i>, 
    {% if paper.abs_link %}
        <a href={{paper.abs_link}}>{{ paper.journal }}</a>. 
    {% else %}    
        {{ paper.journal }}. 
    {% endif %} 
    <p>
    {% if paper.wos_link %}
        <a href={{paper.wos_link}} title="Web of Science link"><img src="{% static 'wos.ico' %}" width="20" height = "20" alt="WOS"></a>
    {% endif %}
    {% if paper.scopus_link %}
        <a href={{paper.scopus_link}} title="Scopus link"><img src="{% static 'scopus.ico' %}" width="20" height = "20" alt="Scopus"></a> 
    {% endif %}
    {% if paper.rinc_link %}
        <a href={{paper.rinc_link}} title="RSCI link"><img src="{% static 'rsci.ico' %}" width="20" height = "20" alt="RSCI"></a>
    {% endif %}
    {% if paper.download_link %}
        <a href={{paper.download_link}} title="Download PDF full-text"><img src="{% static 'pdf-icon-2.ico' %}" width="20" height = "20" alt="PDF"></a>           
    {% endif %}    
    </p>
    </li>  
  {% endfor %}  
  </ol>
 
<br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}