{% extends 'base_en.html' %}

{% block title %}
Directions of Research  - DCMT of ICAD RAS
{% endblock %}

{% block meta_description %} 
The main and promising areas of research in Department.
{% endblock %}

{% block breadcrumbs %}
<p><a href='/en/'>Home</a> -> <a href='/en/research'>Directions of Research</a></p>           
{% endblock %}
		
{% block content%}	
<h1>Directions of Research</h1>
<p><i>&laquo; Based on the world experience of the industrially advanced countries, i.e. USA and Europe, the long-term (25-30 years)
Russian industrial policy should be aimed to creation and support of the backbone of high-tech industry, science and education in Russia
— backbone companies — analogues of 900 US companies and, first of all, in such high-priority sectors as nuclear
energy, aviation, shipbuilding. The main objectives of these companies for the next 10-15 years
consists the implementation of the Russian business model &laquo;knowledge economy&raquo;, the creation of
world-competitive final products (nuclear power plants, aircraft, ships), capturing
a significant share of the relevant niche of the world market, providing
financial flows from the sale of serial products of stable employment and income
state and system-formation companies.&raquo; </i>
Velikhov E.P., Betelin V.B., Kushnirenko A.G., Industrial policy, innovation, mass
information technology, the domestic backbone of the company - Moscow: Energoizdat, 2007. </p>
	  
<p>The main directions of scientific research in IAP RAS:
  <ul>
	<li>problems associated with the development of design automation systems (CAD) of large and ultra-large integrated circuits and electronic equipment;</li>
    <li>problems associated with the study and development of CAD in mechanical engineering;</li>
    <li>fundamental and applied problems of mathematical support of CAD and high-performance computers;</li>
    <li>fundamental and applied problems of mathematical modeling of continuum mechanics and hydrophysics;</li>
    <li>development of mathematical support of automated systems for special purposes and prediction of real situations.</li>
	
	
  </ul>  			  
</p>	
{% endblock %}
