{% extends 'base.html' %}

{% block title %}
Направления исследований - ОВМиТ ИАП РАН
{% endblock %}

{% block breadcrumbs %}
<p><a href='/'>Главная</a> -> <a href='/research'>Направления исследований</a></p>           
{% endblock %}
		
{% block content%}	
<h3>Направления исследований</h3>
<p><i>«Исходя из мирового опыта промышленно развитых стран США и Европы долгосрочная (25-30 лет)
промышленная политика России должна быть нацелена на создание и поддерждку «станового хребта»
высокотехнологичной промышленности, науки и образования России — системообразующих компаний — 
аналогов 900 компаний США и, в первую очередь, в таких приоритетных отраслях как атомная 
энергетика, авиация, судостроение. Основные задачи этих компаний на ближайшие 10-15 лет 
заключаются в реализации российской бизнесс-модели «экономика знаний», создания 
конкурентноспособных на мировом рынке финишных изделий (АЭС, самолетов, судов), захвата
на этой основе значительной доли соответствующей ниши мирового рынка, обеспечении на основе
финансовых потоков от реализации серийных изделий стабильного уровня занятости и доходов 
государства и системообразующих компаний.» </i>
Велихов Е.П., Бетелин В.Б., Кушниренко А.Г. Промышленная политика, инновации, массовые 
информационные технологии, отечественные системообразующие компании.- М.: Энергоиздат, 2007 </p>
	  
<p>Основные направления научных исследований ИАП РАН:
  <ul>
    <li>проблемы, связанные с разработкой систем автоматизации проектирования (САПР) больших и сверхбольших интегральных схем и радиоэлектронной аппаратуры;</li>
    <li>проблемы, связанные с исследованием и разработкой САПР в машиностроении;</li>
    <li>фундаментальные и прикладные проблемы математического обеспечения САПР и высокопроизводительных ЭВМ;</li>
    <li>фундаментальные и прикладные проблемы математического моделирования в механике сплошных сред и гидрофизике;</li>
    <li>разработка математического обеспечения автоматизированных систем специального назначения и прогнозирования реальных ситуаций.</li>
  </ul>  			  
</p>	
{% endblock %}
