{% load staticfiles %}

<!DOCTYPE html>
<html lang='ru'>
  <head>
    <title>ОВМиТ ИАП РАН</title>
    <meta charset="utf-8">
    <!--<link href='css/bootstrap.min.css' rel = 'stylesheet'/>-->
	<link href="{% static 'css/bootstrap.min.css'%}" rel = 'stylesheet'/>
  </head>
  <body>
	<div class='header'>
	  <div class='container'>
	    <p>ИАП РАН </p>
        <h1>Отдел вычислительных методов и турбулентности</h1>
	  </div>
	</div>
	<div class='container'>
	  <!-- Breadcrumbs-->
	  <div class='row'>
	    <div class='col-md-offset-3 col-md-9'>
		  <small><a href='/'>Главная</a> -> <a href='/research'>Направления исследований</a></small>           
		</div>
		<div class='clearfix'>
		</div>
	  </div>
	  <div class='row'>
	    <div class='col-md-2'>
		  <h4><br><br></h4>
	      <h4><a href='/research'>Направления исследований</a></h4>
	      <h4><a href='/'>Публикации</a></h4>
	      <h4><a href='/'>Сотрудники</a></h4>
	        <ul>
	          {% for p in people %}
	            <li><a href='/'>{{ p }}</a></li>
	          {% endfor %}
	        </ul>
	      <h4><a href='/'>Конференции</a></h4>
	      <h4><a href='/'>Гранты</a></h4>
	      <h4><a href='/'>Контакты</a></h4>	      
		</div>
		<div class=' col-md-offset-1 col-md-6'>
		  <h3>Направления исследований</h3>
		  <p><i>«Исходя из мирового опыта промышленно развитых стран США и Европы долгосрочная (25-30 лет)
		  промышленная политика России должна быть нацелена на создание и поддерждку «станового хребта»
		  высокотехнологичной промышленности, науки и образования России — системообразующих компаний — 
		  аналогов 900 компаний США и, в первую очередь, в таких приоритетных отраслях как атомная 
		  энергетика, авиация, судостроение. Основные задачи этих компаний на ближайшие 10-15 лет 
		  заключаются в реализации российской бизнесс-модели «экономика знаний», создания 
		  конкурентноспособных на мировом рынке финишных изделий (АЭС, самолетов, судов), захвата
		  на этой основе значительной доли соответствующей ниши мирового рынка, обеспечении на основе
		  финансовых потоков от реализации серийных изделий стабильного уровня занятости и доходов 
		  государства и системообразующих компаний.» </i>
		  Велихов Е.П., Бетелин В.Б., Кушниренко А.Г. Промышленная политика, инновации, массовые 
		  информационные технологии, отечественные системообразующие компании.- М.: Энергоиздат, 2007 </p>
		  
	      <p>Основные направления научных исследований ИАП РАН:
		    <ul>
		      <li>проблемы, связанные с разработкой систем автоматизации проектирования (САПР) больших и сверхбольших интегральных схем и радиоэлектронной аппаратуры;</li>
              <li>проблемы, связанные с исследованием и разработкой САПР в машиностроении;</li>
              <li>фундаментальные и прикладные проблемы математического обеспечения САПР и высокопроизводительных ЭВМ;</li>
              <li>фундаментальные и прикладные проблемы математического моделирования в механике сплошных сред и гидрофизике;</li>
              <li>разработка математического обеспечения автоматизированных систем специального назначения и прогнозирования реальных ситуаций.</li>
			</ul>  			  
          </p>	    
		</div>
	  </div> 
	  <div class='clearfix'></div>
	</div>
    <div class='footer'>
	  <div class='container'>
	    <div class='row'>
	      <div class='col-md-offset-3 col-md-5'><h5>&copy; Copyright 2017 ОВМиТ ИАП РАН</h5></div>
		  <div class='col-md-4'><h5><a href='/'>Контактная информация</a></h5></div>
		</div>
	  </div>
	</div>    
  </body>
