{% extends 'base.html' %}

{% block title %}
Направления исследований - ОВМиТ ИАП РАН
{% endblock %}

{% block meta_description %} 
Главные и перспективные направления исследования отдела.
{% endblock %}

{% block breadcrumbs %}
<p><a href='/'>Главная</a> -> <a href='/research'>Направления исследований</a></p>           
{% endblock %}
		
{% block content%}	
<h1>НАПРАВЛЕНИЯ ИССЛЕДОВАНИЙ</h1>
<blockquote><p>&laquo;Исходя из&nbsp;мирового опыта промышленно развитых стран США и&nbsp;Европы долгосрочная (25-30&nbsp;лет)
промышленная политика России должна быть нацелена на&nbsp;создание и&nbsp;поддерждку &bdquo;станового хребта&ldquo;
высокотехнологичной промышленности, науки и&nbsp;образования России&nbsp;&mdash; системообразующих компаний&nbsp;&mdash; 
аналогов 900 компаний США&nbsp;и, в&nbsp;первую очередь, в&nbsp;таких приоритетных отраслях как атомная 
энергетика, авиация, судостроение. Основные задачи этих компаний на&nbsp;ближайшие 10-15 лет 
заключаются в&nbsp;реализации российской бизнес-модели &bdquo;экономика знаний&ldquo;, создания 
конкурентноспособных на&nbsp;мировом рынке финишных изделий (АЭС, самолетов, судов), захвата
на&nbsp;этой основе значительной доли соответствующей ниши мирового рынка, обеспечении на&nbsp;основе
финансовых потоков от&nbsp;реализации серийных изделий стабильного уровня занятости и&nbsp;доходов 
государства и&nbsp;системообразующих компаний.&raquo; </p>
<p> Велихов Е.П., Бетелин В.Б., Кушниренко А.Г., Промышленная политика, инновации, массовые 
информационные технологии, отечественные системообразующие компании.- М.: Энергоиздат, 2007. </p></blockquote>
	 
<p>Основные направления научных исследований ИАП РАН:
<ul>
<li>проблемы, связанные с&nbsp;разработкой систем автоматизации проектирования (САПР) больших и&nbsp;сверхбольших интегральных схем и&nbsp;радиоэлектронной аппаратуры;</li>
<li>проблемы, связанные с&nbsp;исследованием и&nbsp;разработкой САПР в&nbsp;машиностроении;</li>
<li>фундаментальные и&nbsp;прикладные проблемы математического обеспечения САПР и&nbsp;высокопроизводительных ЭВМ;</li>
<li>фундаментальные и&nbsp;прикладные проблемы математического моделирования в&nbsp;механике сплошных сред и&nbsp;гидрофизике;</li>
<li>разработка математического обеспечения автоматизированных систем специального назначения и&nbsp;прогнозирования реальных ситуаций.</li>
</ul> 			 
</p>
{% endblock %}
