{% extends 'base.html' %}

{% block title %}
{{ researcher }} - Сотрудники - ОВМиТ ИАП РАН
{% endblock %}

{% block breadcrumbs %}
<p><a href='/'>Главная</a> -> <a href='/scientists'>Сотрудники</a> -> <a href='/scientists/shepelev'>В.В. Шепелев</a></p>           
{% endblock %}

{% block content %}
<h3>{% researcher.name %} {% researcher.patronymic %} {%researcher.family_name%}</h3>
<div class='row'>
  <div class='col-md-3'>
    <img src='https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/2/000/24c/152/0c2b9dc.jpg' alt='В.В. Шепелев' width='100'></img>
  </div>
  <div class='col-md-9'>
     <br>
     <p>Должность: {% researcher.position %}</p>
	 <p>Ученая степень: {% researcher.degree %}</p>
	 <p>E-mail: {% researcher.email %}</p>
  </div>
  <div class='clearfix'></div>
</div>
<br>
<h4>Публикации</h4>
<ol>
 {% for paper in papers %}
<li> {% paper.authors %}, {% paper.title %}, {% paper.journal %}, {% paper.year %} </li> 
 {% endblock %}
 
  <!--<li>S.V. Fortova, P.S. Utkin and V.V. Shepelev, Application of software complex Turbo Problem Solver
  to Rayleigh-Taylor instability modeling, Journal of Physics: Conference Series, Volume 754, Number 1 (2016).</li>
  <li>S.V. Fortova, V.V. Shepelev, A.P. Pronina and P.S. Utkin, Three-dimensional numerical simulation 
  of the instability of the interface between two high-speed colliding metal plates, Journal of Physics: 
  Conference Series, Volume 774, Number 1 (2016).</li> 
  <li>С.В. Фортова, В.В. Шепелев, М.С. Белоцерковская, А.П. Пронина, Применение программного комплекса 
  TURBO PROBLEM SOLVER для решения некоторых задач газодинамики, ЖВМиМФ, т.56, №6, 1185–1196 (2016).</li>
  <li>V.A. Khokhlov, N.A. Inogamov, V.V. Zhakhovsky, V.V. Shepelev, D.K. Il’nitsky, Thin 10-100 nm film in contact 
  with substrate: Dynamics after femtosecond laser irradiation, J. Phys.: Conf. Ser. 653, 012003 (2015).</li>
  <li>N.A. Inogamov, V.V. Zhakhovsky, Yu.V. Petrov, V.A. Khokhlov, S. I. Ashitkov, K.V. Khishchenko, K. P. Migdal,
  D.K. Ilnitsky, Yu. N. Emirov, P. S. Komarov, V.V. Shepelev, C.W. Miller, I.I. Oleynik, M.B. Agranat, A.V. Andriyash,
  S.I. Anisimov, and V.E. Fortov, Electron-Ion Relaxation, Phase Transitions, and Surface Nano-Structuring Produced by
  Ultrashort Laser Pulses in Metals, Contrib. Plasma Phys. 53, No. 10, 796 – 810 (2013) / DOI 10.1002/ctpp.201310049.</li>
  -->
</ol>
<br><br><br>
{% endblock %}


