{% extends 'base_en.html' %}
{% load staticfiles %}

{% block title %}
{{ researcher_en }} - People - DCMT of ICAD RAS
{% endblock %}

{% block meta_description %} 
Brief information about the research fellow, contacts and list of publications.
{% endblock %}

{% block breadcrumbs %}
<p><a href='/en/'>Home</a> -> <a href='/en/people'>People</a> -> <a href='/en/people/{{researcher.slug}}'>{{researcher_en}}</a></p>           
{% endblock %}

{% block content %}
<h1>{{ researcher.name_en }} {{ researcher.patronymic_en }} {{ researcher.family_name_en }}</h1>
<div class='row'>
  <div class='col-md-3'>
    <img src='https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/2/000/24c/152/0c2b9dc.jpg' alt='{{researcher_en}}' width='100'></img>
  </div>
  <div class='col-md-9'>
     <br>
     <p>Position: {{ researcher.position_en }}</p>
	 <p>Degree: {{ researcher.degree_en }}</p>
	 <p>E-mail: {{ researcher.email }}</p>
  </div>
  <div class='clearfix'></div>
</div>
<br>
<h4>Publications</h4>
  <ol>
  {% for paper in papers %}
    <li> {{ paper.authors }}, <i>{{ paper.title }}</i>, 
    {% if paper.abs_link %}
        <a href={{paper.abs_link}} rel="nofollow" >{{ paper.journal }}</a>. 
    {% else %}    
        {{ paper.journal }}. 
    {% endif %} 
    <p>
    {% if paper.wos_link %}
        <a href={{paper.wos_link}} rel="nofollow" title="Web of Science link"><img src="{% static 'ico/wos.ico' %}" width="20" height = "20" alt="WOS"></a>
    {% endif %}
    {% if paper.scopus_link %}
        <a href={{paper.scopus_link}} rel="nofollow" title="Scopus link"><img src="{% static 'ico/scopus.ico' %}" width="20" height = "20" alt="Scopus"></a> 
    {% endif %}
    {% if paper.rinc_link %}
        <a href={{paper.rinc_link}} rel="nofollow" title="RSCI link"><img src="{% static 'ico/rsci.ico' %}" width="20" height = "20" alt="RSCI"></a>
    {% endif %}
    {% if paper.download_link %}
        <a href={{paper.download_link}} rel="nofollow" title="Download PDF full-text"><img src="{% static 'ico/pdf-icon.ico' %}" width="20" height = "20" alt="PDF"></a>           
    {% endif %}    
    </p>
    </li>  
  {% endfor %}  
  </ol>
 
{% endblock %}


